@charset "EUC-KR";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
	em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
	b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
	details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
	output, ruby, section, summary, time, mark, audio, video, hr {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}
html {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
	vertical-align: middle;
}
q, blockquote {
	quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
	content: "";
	content: none;
}
a img {
	border: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup,
	main, menu, nav, section, summary {
	display: block;
}
/* Colors */
/* ---------------------------------------- */
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	margin: 0;
	color: #6a6f8c;
	text-align: center;
	font-family: 'Lato', 'sans-serif';
	font-weight: 400;
}
a {
	text-decoration: none;
}
.info-text {
	text-align: left;
	width: 100%;
}
header, form {
	padding: 1em 10%;
}
.form-group {
	margin-bottom: 20px;
}
hr.heading {
	color: #506982;
	border-bottom: 1px solid #506982;
	padding-bottom: 3px;
	margin-bottom: 20px;
}
.controls {
	text-align: left;
	position: relative;
}
.controls input[type="text"], .controls input[type="password"], .controls input[type="button"], .controls textarea,
	.controls select {
	padding: 12px;
	font-size: 14px;
	border: 1px solid #c6c6c6;
	width: 100%;
	margin-bottom: 18px;
	color: #888;
	font-family: 'Lato', 'sans-serif';
	font-size: 16px;
	font-weight: 300;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.controls input[type="text"]:focus, .controls input[type="text"]:hover,
	.controls input[type="password"]:focus, .controls input[type="password"]:hover,
	.controls input[type="button"]:focus, .controls input[type="button"]:hover,
	.controls textarea:focus, .controls textarea:hover, 
	.controls select:focus, .controls select:hover
	{
	outline: none;
	border-color: #9fb1c1;
}
.controls input[type="text"]:focus+label, .controls input[type="text"]:hover+label,
	.controls input[type="password"]:focus+label, .controls input[type="password"]:hover+label,
	.controls input[type="button"]:focus+label, .controls input[type="button"]:hover+label,
	.controls textarea:focus+label, .controls textarea:hover+label,
	.controls select:focus+label, .controls select:hover+label, .controls label:hover {
	color: #bdcc00;
	cursor: text;
}
.controls .fa-sort {
	position: absolute;
	right: 10px;
	top: 17px;
	color: #999;
}
.controls select {
	-moz-appearance: none;
	-webkit-appearance: none;
	background-color: white;
}
.controls label {
	position: absolute;
	left: 8px;
	top: 12px;
	width: 90%;
	color: #999;
	font-size: 16px;
	display: inline-block;
	padding: 4px 10px;
	font-weight: 400;
	background-color: rgba(255, 255, 255, 0);
	-moz-transition: color 0.3s, top 0.3s, background-color 0.8s;
	-o-transition: color 0.3s, top 0.3s, background-color 0.8s;
	-webkit-transition: color 0.3s, top 0.3s, background-color 0.8s;
	transition: color 0.3s, top 0.3s, background-color 0.8s;
	background-color: white;
	
}
.controls label.active {
	top: -11px;
	color: #555;
	background-color: white;
	width: auto;
}
.controls textarea {
	resize: none;
	height: 200px;
}
input[type="button"] {
	cursor: pointer;
	background-color: #1b3d4d;
	border: none;
	color: #fff;
	padding: 12px 0;
}
input[type="button"]:hover {
	background-color: #224c60;
}
.clear:after {
	content: "";
	display: table;
	clear: both;
}
[class*='col-'] {
	float: inherit;
	padding-right: 10px;
}
.grid [class*='col-']:last-of-type {
	padding-right: 0;
}
.col-1-4 {
	width: 25%;
}
@media ( max-width : 760px) {
	.col-1-4-sm {
		width: 100%;
	}
	[class*='col-'] {
		padding-right: 0px;
	}
}
*, :after, :before {
	box-sizing: border-box
}
.login-wrap {
	width: 100%;
	margin: auto;
	max-width: 525px;
	min-height: 870px;
	position: relative;
	box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0
		rgba(0, 0, 0, .19);
}
.login-html {
	width: 100%;
	height: 100%;
	padding-top: 40px;
	position: absolute;
}
.login-html .sign-in-htm, .login-html .sign-up-htm {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	transform: rotateY(180deg);
	backface-visibility: hidden;
	transition: all .4s linear;
}
.login-html .sign-in, .login-html .sign-up, .login-form .group .check {
	display: none;
}
.login-html .tab, .login-form .group .label, .login-form .group .button
	{
	text-transform: uppercase;
}
.login-html .tab {
	font-size: 22px;
	margin-right: 15px;
	padding-bottom: 5px;
	margin: 0 15px 10px 0;
	display: inline-block;
	border-bottom: 2px solid transparent;
}
.login-html .sign-in:checked+.tab, .login-html .sign-up:checked+.tab {
	text-align: left;
	color: #506982;
	border-bottom: 1px solid #506982;
	padding-bottom: 3px;
	margin-bottom: 20px;
}
.login-form {
	min-height: 345px;
	position: relative;
	perspective: 1000px;
	transform-style: preserve-3d;
}
.login-html .sign-in:checked+.tab+.sign-up+.tab+.login-form .sign-in-htm
	{
	transform: rotate(0);
}
.login-html .sign-up:checked+.tab+.login-form .sign-up-htm {
	transform: rotate(0);
}
.hr {
	color: #506982;
	border-bottom: 1px solid #506982;
	margin: 100px 0 50px 0;
}
.foot-lnk {
	border-bottom: 1px ;
	margin: 50px 0 50px 0;
	text-align: center;
}
.acolor {color: #000;}